<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="w-50">
            <div class="mt-3">
                <label for="inputTexto">Escribe algo:</label>
                <input id="inputTexto" type="text" [(ngModel)]="saludo" />
            </div>
            <div class="mt-3">
                <div class="alert alert-success mt-4">
                    {{saludo}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>